#root {
  height: 600px;
}

#description {
  margin-left: 20px;
  margin-right: 20px;
}

#content {
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  vertical-align: top;
  width: 40%;
}

#pdf_view {
  display: inline-block;
  float: right;
  height: 100%;
  width: 50%;
  vertical-align: top;
}

object {
  height: 100%;
  width: 100%;
}
