#root_div {
  height: 600px;
}

#buttons_div {
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  margin-top: 20px;
  vertical-align: top;
  width: 45%;
}

#pdf_view_div {
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
}

object {
  height: 100%;
  width: 100%;
}
