<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% load static %}
  {% load testing_extras %}
  <link rel="stylesheet" type="text/css" href="{% static 'testing/style.css' %}">
  <script src="{% static 'testing/script.js' %}"></script>
  <title>Testing</title>
</head>
<body>
  {% if user.is_authenticated %}
    <h3><b>Тест</b></h3>
	<ol>
      {% for test in tests %}
        <div class="question">
	      <li>{{ test.question }}</li>
	      <div class="answers">
            {% for answer in test.answers|split:'|' %}
	          <div class="radio">
	            <label><input type="radio" name="{{ test.id }}" value="{{ answer }}" data-correct="{{ test.correct_answer }}">{{ answer }}</label>
	          </div>
            {% endfor %}
	      </div>
	    </div>
      {% endfor %}
    </ol>
    <button type="submit" class="btn btn-primary submit" onclick="postResult({{ tests|length }})">Submit</button>
{#    <form action="{% url 'result' %}" method="post">#}
{#      {% csrf_token %}#}
{#      <input type="hidden" name="question_count" value="1">#}
{#      <input type="hidden" name="correct_answer_count" value="1">#}
{#      <button type="submit" class="btn btn-primary submit">Submit</button>#}
{#    </form>#}
  {% else %}
    <div id="login">
      <p>You are not logged in!</p>
      <a class="btn btn-primary" href="/auth/login/" role="button">Login</a>
    </div>
  {% endif %}
</body>
</html>
